<!DOCTYPE html>
<html>
<head>
<title>Upload Image</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
<div class="logo">🌿 PlantCare AI</div>
</div>

<h2 style="text-align:center;margin-top:40px;">
Upload Plant Image
</h2>

<div class="upload-box">

<form action="/predict" method="POST" enctype="multipart/form-data">

<input type="file" name="image" required>
<br><br>

<button class="btn">Predict Disease</button>

</form>

</div>

</body>
</html>